@import './smart-grid';
@import './mixins';


footer {
    @include content-padding();
    background-color: #151515;
    color: #fff;
    z-index: -1;

    &.footer-visible {
        .footer-wrapper {
            opacity: 1;
            transform: translateY(0px);
        }
    }

    .footer-wrapper {
        transition: all .7s ease;
        opacity: 0;
        transform: translateY(-100px);
    }

    .title-tertiary {
        text-align: left;
        margin-top: 0;
        color: #fff;

        @include xs-block {
            text-align: center;
        }
    }

    .order-last {
        @include sm-block {
            order: 10;
        }
    }

    .col {
        @include col();
        @include size(6);
        @include size-sm(12);
        @include size-xs(24);
        box-sizing: border-box;
        padding: 20px;
    }

    .logo a {
        font-size: 24px;
        color: #fff;
    }
    .desc {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .subscribe-form {
        p {
            font-size: 30px;
            font-weight: 300;
            margin-bottom: 10px;
        }

        input {
            width: 100%;
            height: 35px;
            border: 1px solid #c6c6c6;
            border-radius: 3px;
            font-size: 18px;
            background: #151515;
            color: #fff;
            padding: 0 22px;
            margin-bottom: 20px;
            box-sizing: border-box;
        }
    }

    .btn-primary {
        background: transparent;
        color: #fff;
        border-color: #fff;

        &:hover {
            background: #5b5b5b;
            color: #fff;
        }
    }

    .list {
        .item {
            margin-bottom: 5px;
        }

        .link {
            font-size: 18px;
            color: #fff;

            &:hover {
                text-decoration: underline;
            }
        }

        @include xs-block {
            text-align: center;
        }
    }

    .socials {
        a {
            color: #fff;
            font-size: 30px;
            transition: all .3s ease-in-out;

            &:hover {
                text-shadow: 0 0 15px rgba($color: #fff, $alpha: .4);
            }
        }
    }

    .telegram {
        margin: 10px 0;

        a {
            font-size: 16px;
        }
    }

    .contacts {
        margin: 10px 0;
        a, p {
            font-size: 16px;
            color: #fff;
            display: block;
            margin: 4px 0;

            i {
                margin-right: 5px;
            }
        }
    }
}