@import './smart-grid';
@import './mixins';

footer {
    @include content-padding();

    .title-tertiary {
        text-align: left;

        @include xs-block {
            text-align: center;
        }
    }

    .order-last {
        @include sm-block {
            order: 10;
        }
    }

    .col {
        @include col();
        @include size(6);
        @include size-sm(12);
        @include size-xs(24);
        box-sizing: border-box;
        padding: 20px;
    }

    .logo a {
        font-size: 24px;
        color: #333;
    }
    .desc {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .subscribe-form {
        p {
            font-size: 30px;
            font-weight: 300;
            margin-bottom: 10px;
        }

        input {
            width: 100%;
            height: 35px;
            border: 1px solid #c6c6c6;
            border-radius: 3px;
            font-size: 18px;
            color: #3b3b3b;
            padding: 0 22px;
            margin-bottom: 20px;
            box-sizing: border-box;
        }
    }

    .list {
        .item {
            margin-bottom: 5px;
        }

        .link {
            font-size: 18px;
            color: #333;

            &:hover {
                text-decoration: underline;
            }
        }

        @include xs-block {
            text-align: center;
        }
    }

    .socials {
        a {
            color: #333;
            font-size: 30px;
            transition: all .3s ease-in-out;

            &:hover {
                text-shadow: 0 0 15px rgba($color: #333, $alpha: .4);
            }
        }
    }

    .telegram {
        margin: 10px 0;

        a {
            font-size: 16px;
        }
    }

    .contacts {
        margin: 10px 0;
        a, p {
            font-size: 16px;
            color: #333;
            display: block;
            margin: 4px 0;

            i {
                margin-right: 5px;
            }
        }
    }
}